:root {
    //독
    --dock-border-color: #ffffff49;
    --dock-background-color: #0000003e;
    --dock-hover-text-color: #ffffff;
    --dock-hover-background-color: #5b73fe;
    //폴더
    --window-header-color: #1f2020;
    --window-inner-color: #3c3c3c;
    --window-border-color: #747474;
    --window-close-color: #ec6a5e;
    --window-minimize-color: #f4be50;
    --window-maximize-color: #61c554;
    --window-scroll-bar-color: #898989;
    --window-text-color: #ffffff;
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  