:root {
    //독
    --dock-border-color: #ffffff49;
    --dock-background-color: #0000003e;
    --dock-hover-text-color: #ffffff;
    --dock-hover-background-color: #5b73fe;
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  