:root {
    //독
    --dock-border-color: #ffffff49;
    --dock-background-color: #0000003e;
    --dock-hover-text-color: #ffffff;
    --dock-hover-background-color: #5b73fe;
    //폴더
    --window-header-color: #1f2020;
    --window-inner-color: #3c3c3c;
    --window-border-color: #747474;
    --window-close-color: #ec6a5e;
    --window-minimize-color: #f4be50;
    --window-maximize-color: #61c554;
    --window-scroll-bar-color: #898989;
    --window-text-color: #ffffff;
    //프로그래스바
    --main-gradient: linear-gradient(
      72.88deg,
      #455eb5 9.16%,
      #5643cc 33.89%,
      #455eb5 62.16%,
      #673fd7 92.72%
    );
    --main-gradient-animation: gradientAnimation 6s infinite;
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  